.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  box-shadow: 0 0 50px rgba(0,0,0,.2);
  margin: 0 auto;
}
.card{
  background: #fff;
  max-width: 475px;
  margin: 0 1rem;
  min-height: 80vh;
  width: 100%;
  border-radius: 1.5rem;
}
h2{
  font-weight: 800;
  padding: 1rem 0;
  margin: 0;
  font-size: 2rem;
  color:rgb(255, 100, 96);
}